body {
  min-width:800px;
 }
 header{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .logo {
  line-height: 1;
 }
 .menu a {
   color: #fff;
 }
 
 p,h1,h2,h3,li {
  font-family: "Noto Serif SC",serif;
  font-weight: normal;
  color: #383634;
 }
 .switch {
  position: fixed;
  width: 75px;
  height: 50px;
  top: 8%;
  right: 10%;
  z-index: 100;
  cursor: pointer;
}
 .button {
  display: inline-block;
  position: fixed;
  top: 8%;
  right: 10%;
  z-index: 100;
  background: #343a40;
  height: 3px;
  width: 75px;
  cursor: pointer;
 }
 .button::before {
  content: '';
  background: #343a40;
  height: 3px;
  width: 50px;
  display: inline-block;
  z-index: 100;
 }
 .button::after {
  content: '';
  background: #343a40;
  height: 3px;
  width: 25px;
  display: inline-block;
  z-index: 100;
  position: absolute;
  top: 31px;
  left: 0px;
 }
 .menu {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100%;
  background: #070707;
  color: #fff;
  left:-100%;
  right: 0px;
  transition: left 0.7s, opacity 0.7s;
  
 }
 .menu>li  {
  border-bottom: 1px solid #fff;
 
  left: -100%;
  position: relative;
  opacity: 0.5;
 }
 .container-fluid {
  padding: 100px 100px 0;
 }
 #menu-checkbox{
  display:none;
 }
 #menu-checkbox:checked+label+.menu {
  left: 15px;
  opacity: 1;
 }
 #menu-checkbox:checked+label+.menu>li {left: 0;}
 .link1 {transition: left 0.2s;}
 .link2 {transition: left 0.4s;}
 .link3 {transition: left 0.6s;}
 .link4 {transition: left 0.8s;}
 .link5 {transition: left 1s;}
 .link6 {transition: left 1.2s;}
 
 li {
  list-style-type: none;
   padding: 25px 25px;
   opacity: 0.5;
 }
 .nav_aside {
  opacity: 0.5;
 }
 .main_contents{
  padding-top: 500px;
 }
 .page_title {
  font-size: 7rem;
  padding-left: 20%;
 }
 .work_item:nth-child(odd){
  margin-top: 30px;
  padding-right: 50px;
 }
 .work_item:nth-child(even){
  margin-top: 150px;
  padding-left: 50px;
 }
 
 .image {
  height: 150px;
 }
 .info_main {
  font-size: 2rem;
  margin-top: 20px;
 }
 
 footer {
  padding: 30px 0;
  color: #212529;
  background-color: #fff;
 }
 
 
 
